body {
    background: linear-gradient(to right, black, var(--950));
    color: var(--50);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

}

/* Mobile-first design */
.row {
    width: 100dvw;
}

.column {
    width: 100%;
    background-color: var(--800);
}

.themeToggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}



/* Media query Desktop design */